
.header-div{
    background: linear-gradient(45deg, blue, #007ACC, #6da9d1 );
    padding: 15px 0;
    width: 70%;
    margin: 30px auto;
    border-radius: 5px;
}

.header-div a{
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: 25px;
    font-weight: 600;
}
.header-div a:hover{
    color: darkred;
}