


.meal-card{
    border: 3px solid blue;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.meal-card img{
    width: 100%;
    border-radius: 5px;
}
.meal-card h3{
    margin: 15px 0;
}